<p>dummy works!</p>
<!-- 
<mat-form-field>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
  </mat-form-field>
  
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
  </mat-autocomplete> -->
  

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option" (onSelectionChange)="selectionChange(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <span>{{selecedItem}}</span>